<div class="site-header">
  <h1 style="margin-left: 0">Map Project</h1>
  <button title="Home" id="home_button">
    <img src="/assets/icons/home-24px.svg" alt="">
  </button>
  <button title="Upload" id="upload_button">
    <img src="/assets/icons/publish-24px.svg" alt="">
  </button>
  <button id="grid_button">
    <img src="/assets/icons/view_module-24px.svg" alt="">
  </button>
  <button title="Logout" id="logout_button">
    <img src="/assets/icons/exit_to_app-24px.svg" alt="">
  </button>
</div>
