/* You can add global styles to this file, and also import other style files */
@import "/Users/rohak/Documents/NCSU/proactive_map_project/frontend/node_modules/leaflet/dist/leaflet.css";

body {
  background: #f8f8ff;
  font-family: 'Roboto', sans-serif;
  margin: 2em;
  max-width: 100%;
}
